
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;line-height:30px;
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}

TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
Q:unknown {
	content: ''
}
Q:unknown {
	content: ''
}
abbr {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	DISPLAY: inline
}
BUTTON {
	VERTICAL-ALIGN: middle; CURSOR: pointer; LINE-HEIGHT: 1.2
}
STRONG {
	FONT-WEIGHT: 1178px;
}

.wrapper {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 960px; ZOOM: 1
}
.hd {
	OVERFLOW: hidden; WIDTH: 100%; ZOOM: 1
}
.bd {
	OVERFLOW: hidden; WIDTH: 100%; ZOOM: 1
}
.ft {
	OVERFLOW: hidden; WIDTH: 100%; ZOOM: 1
}

.mod-left {
	width: 1148px;
	overflow: hidden;
	margin: 20px auto 10px auto;
}
.mod-left H2 {
	width: 120px;
	float: left;
	overflow: hidden;
	font-size: 20px; text-align:left;
	color: #573021;
}

.grayBorder {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #8a8a8a; PADDING-TOP: 0px
}
.sidBoxNoborder {
	OVERFLOW: hidden; WIDTH: 300px; ZOOM: 1; TEXT-ALIGN: center
}
#Top-Article-QQ {
	BACKGROUND: #f8f8f8; BORDER-BOTTOM: #e6e6e6 1px solid; HEIGHT: 22px
}
#Top-Article-QQ LI {
	FLOAT: right; COLOR: #a1a0a0
}
#Top-Article-QQ LI SPAN {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#Top-Article-QQ A {
	COLOR: #a1a0a0
}
#Top-Article-QQ #setIndex {
	DISPLAY: inline; BACKGROUND: url(../images/xixi.png) no-repeat -299px -68px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 12px; HEIGHT: 22px
}
#Top-Article-QQ #setIndex A {
	PADDING-LEFT: 13px
}
#Menu-Article-QQ {
	PADDING-BOTTOM: 2px; PADDING-TOP: 8px; HEIGHT: 46px
}
#Menu-Article-QQ DIV {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/xixi.png) no-repeat -299px 0px; FLOAT: left; WIDTH: 130px; HEIGHT: 35px
}
#Menu-Article-QQ LI {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 30px
}
#Menu-Article-QQ DIV.First-Block {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 89px
}
#Menu-Article-QQ DIV.First-Block LI {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 79px
}
#Menu-Article-QQ A {
	COLOR: #010101
}
#Menu-Article-QQ .redFont A {
	COLOR: #cc0000
}
#Menu-Article-QQ .redFont A:visited {
	COLOR: #cc0000
}
.AdTop-Article-QQ {
	HEIGHT: 90px
}
.AdTop-Article-QQ A {
	COLOR: #000
}
.AdTop-Article-QQ A:visited {
	COLOR: #000
}
.AdTop-Article-QQ .adleft {
	FLOAT: left; WIDTH: 728px
}
.AdTop-Article-QQ .adright {
	BORDER-RIGHT: #e5e5e5 1px solid; PADDING-RIGHT: 17px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 17px; FLOAT: right; PADDING-BOTTOM: 0px; BORDER-LEFT: #e5e5e5 1px solid; WIDTH: 186px; LINE-HEIGHT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 84px
}
.Crumbs-Article-QQ {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 8px; PADDING-TOP: 10px
}
.Crumbs-Article-QQ IMG {
	FLOAT: left; MARGIN: 0px
}
.Crumbs-Article-QQ SPAN {
	PADDING-LEFT: 20px; FLOAT: left; COLOR: #000; PADDING-TOP: 11px
}
.Crumbs-Article-QQ SPAN EM {
	COLOR: #7e7e7e
}
.Crumbs-Article-QQ SPAN A:visited {
	COLOR: #0b3b8c
}
.Form-Crumbs-Article-QQ {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 14px
}
.Form-Crumbs-Article-QQ .submit {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(../images/xixi.png) no-repeat -100px -372px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; CURSOR: pointer; LINE-HEIGHT: 21px; PADDING-TOP: 1px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.Form-Crumbs-Article-QQ .inputWarp {
	DISPLAY: inline; BACKGROUND: url(../images/xixi.png) no-repeat 0px -344px; FLOAT: right; MARGIN-LEFT: 5px; WIDTH: 202px; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; HEIGHT: 21px; TEXT-ALIGN: center
}
.Form-Crumbs-Article-QQ .txtArea {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 2px auto 0px; WIDTH: 190px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.Form-Crumbs-Article-QQ .SosoLogo {
	MARGIN-TOP: 3px; BACKGROUND: url(../images/xixi.png) no-repeat -5px -320px; FLOAT: right; WIDTH: 16px; HEIGHT: 16px
}
.Form-Crumbs-Article-QQ .SosoLogo SPAN {
	DISPLAY: none
}
#C-Main-Article-QQ {
	BORDER-RIGHT: #d3dbe6 1px solid; BORDER-TOP: #d3dbe6 0px solid; BORDER-LEFT: #d3dbe6 1px solid; BORDER-BOTTOM: #d3dbe6 1px solid; TEXT-ALIGN: left
}
#C-Main-Article-QQ .hd {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 588px; ZOOM: 1
}
#C-Main-Article-QQ .bd {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 588px; ZOOM: 1
}
#C-Main-Article-QQ .hd {
	PADDING-BOTTOM: 0px; PADDING-TOP: 22px; TEXT-ALIGN: center
}
#C-Main-Article-QQ H1 {
	MARGIN-BOTTOM: 6px; FONT: 800 26px/30px "ו",arial; COLOR: #000; x-system-font: none; font-size-adjust: none; font-stretch: normal
}
#C-Main-Article-QQ .titBar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 578px; PADDING-TOP: 0px; ZOOM: 1; POSITION: relative
}
#C-Main-Article-QQ .info {
	COLOR: #7e7e7e; HEIGHT: 16px
}
#C-Main-Article-QQ .infoCol {
	PADDING-RIGHT: 19px
}
#C-Main-Article-QQ .info .where {
	PADDING-LEFT: 19px; COLOR: #7e7e7e
}
#C-Main-Article-QQ .info .auth {
	PADDING-LEFT: 19px; COLOR: #7e7e7e
}
#C-Main-Article-QQ .info .where A {
	COLOR: #7e7e7e
}
#C-Main-Article-QQ .info .auth A {
	COLOR: #7e7e7e
}
#cmt_1:visited {
	COLOR: #0b3b8c
}
.isCommt A:visited {
	COLOR: #0b3b8c
}
.otherNews A:visited {
	COLOR: #0b3b8c
}
A.hasCom:visited {
	COLOR: #0b3b8c
}
.bottom_ad_text A:visited {
	COLOR: #0b3b8c
}
.sildPic-Article-QQ .cnt A:visited {
	COLOR: #573121
}


.bottom-Article-QQ .hd {
	width: 1148px;
	overflow: hidden;
	margin: auto;
}
.bottom-Article-QQ H2 {
	FONT-SIZE: 14px; TEXT-INDENT: 17px
}
.bottom-Article-QQ .bd {
	PADDING-LEFT: 22px; PADDING-BOTTOM: 10px; WIDTH: 626px; PADDING-TOP: 10px
}
.bottom-Article-QQ LI {
	FLOAT: left; WIDTH: 156px; LINE-HEIGHT: 21px; TEXT-ALIGN: left
}
.bottom-Article-QQ .haveTab {
	OVERFLOW: visible; POSITION: relative
}
.bottom-Article-QQ .haveTab H2#h2One {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 20px; LEFT: 0px; CURSOR: pointer; POSITION: absolute; TOP: 0px
}
.bottom-Article-QQ .haveTab H2#h2Tow {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 20px; LEFT: 94px; CURSOR: pointer; POSITION: absolute; TOP: 0px
}
.bottom-Article-QQ .haveTab .select {
	BACKGROUND: #fff; BORDER-BOTTOM: #fff 1px solid
}
.bottom-Article-QQ .block {
	DISPLAY: block
}
.bottom-Article-QQ .none {
	DISPLAY: none
}
.bottom_ad_text TD {
	WIDTH: 131px; TEXT-ALIGN: left
}
.sildPic-Article-QQ H2 {
	FLOAT: left
}
.sildPic-Article-QQ .hd {
	
}
.sildPic-Article-QQ .bd {
	
}
.sildPic-Article-QQ .sildPicBar {
	DISPLAY: inline; FLOAT: right; OVERFLOW: hidden; WIDTH: 86px;  ZOOM: 1; HEIGHT: 22px
}
.sildPic-Article-QQ .pre {
	DISPLAY: inline; BACKGROUND: url(../images/xixi.png) no-repeat -151px -60px; FLOAT: left; WIDTH: 20px; CURSOR: pointer; MARGIN-RIGHT: 8px; HEIGHT: 15px
}
.sildPic-Article-QQ .next {
	BACKGROUND: url(../images/xixi.png) no-repeat -151px -131px; FLOAT: right; WIDTH: 20px; CURSOR: pointer; HEIGHT: 15px
}
.sildPic-Article-QQ .sildPicBar LI {
	MARGIN-TOP: 5px; DISPLAY: inline; BACKGROUND: url(../images/xixi.png) no-repeat -165px -112px; FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 6px; CURSOR: pointer; HEIGHT: 6px
}
.sildPic-Article-QQ .sildPicBar LI.select {
	BACKGROUND: url(../images/xixi.png) no-repeat -165px -86px
}
.sildPic-Article-QQ .bd {
	width: 1148px;
	overflow: hidden;
	margin: 20px auto 10px auto;
}
.sildPic-Article-QQ .cnt-wrap {
	OVERFLOW: hidden; WIDTH: 1148px; ZOOM: 1; HEIGHT: 141px
}
.sildPic-Article-QQ .cnt {
	WIDTH:3444px
}
.sildPic-Article-QQ LI {
	width: 287px; 
	overflow: hidden; float:left;
}
.sildPic-Article-QQ LI ul{
	width: 264.5px; margin-right:30px;
	overflow: hidden; float:left;
}
.sildPic-Article-QQ LI ul li{
	width: 132px;
	overflow: hidden; float:left;
}
.sildPic-Article-QQ .cnt SPAN {
	WIDTH: 100%; COLOR: #7e7e7e; TEXT-ALIGN: left
}
.sildPic-Article-QQ .cnt IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.sildPic-Article-QQ .cnt .link {
	DISPLAY: block; MARGIN-LEFT: 0px; WIDTH: 140px; TEXT-ALIGN: center
}
.sildPic-Article-QQ .cnt SPAN A {
	COLOR: #7e7e7e
}
.sildPic-Article-QQ .cnt SPAN A:visited {
	COLOR: #7e7e7e
}
#AdRight-Article-QQ {
	MARGIN-BOTTOM: 8px; WIDTH: 300px
}
#AdRight-Article-QQ .ft {
	BACKGROUND: #f5f8fd; HEIGHT: 22px; TEXT-ALIGN: right
}
.qiye-Article-QQ {
	MARGIN-BOTTOM: 0px
}
.business-Article-QQ LI {
	PADDING-LEFT: 15px; FLOAT: left; WIDTH: 134px
}
.right_ad_lefttext {
	PADDING-LEFT: 11px; FLOAT: left; WIDTH: 145px
}
.right_ad_righttext {
	FLOAT: left
}

.side3-Article-QQ .hd H2 {
	FLOAT: left; WIDTH: 94px
}
.side2-Article-QQ .hd H2 {
	FLOAT: left; WIDTH: 94px
}
.side3-Article-QQ .hd A {
	PADDING-RIGHT: 10px; FLOAT: right; COLOR: #8896b1
}
.side2-Article-QQ .hd A {
	PADDING-RIGHT: 10px; FLOAT: right; COLOR: #8896b1
}
.side3-Article-QQ .hd A:visited {
	COLOR: #8896b1
}
.side2-Article-QQ .hd A:visited {
	COLOR: #8896b1
}
.side3-Article-QQ .hd A:hover {
	TEXT-DECORATION: none
}
.side2-Article-QQ .hd A:hover {
	TEXT-DECORATION: none
}
.side3-Article-QQ UL.toplist {
	MARGIN-BOTTOM: 10px
}
.side3-Article-QQ .innerBox {
	WIDTH: 284px
}
.blog-Article-QQ .innerBox {
	WIDTH: 284px
}
.side4-Article-QQ .hd {
	BACKGROUND: url(../images/xixi.png) no-repeat 0px -571px
}
.side4-Article-QQ .bd {
	BACKGROUND: #fff
}
.side4-Article-QQ .hd H2 {
	WIDTH: 138px
}
.side4-Article-QQ .tabTit {
	WIDTH: 148px
}
.side4-Article-QQ .Txt {
	WIDTH: 160px
}
.side4-Article-QQ .bd LI A {
	FLOAT: none
}
.side5-Article-QQ .bd {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.side5-Article-QQ .ft {
	PADDING-RIGHT: 0px; BORDER-TOP: #dadada 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.blog-Article-QQ .ft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 12px
}
.blog-Article-QQ .ft .innerBox {
	WIDTH: 273px
}
.blog-Article-QQ .ft .pic {
	FLOAT: left; WIDTH: 82px; TEXT-ALIGN: center
}
.blog-Article-QQ .ft .pic IMG {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid
}
.blog-Article-QQ .ft .pic A {
	DISPLAY: block; MARGIN-BOTTOM: 8px; COLOR: #000; LINE-HEIGHT: 22px
}
.blog-Article-QQ .ft .Txt {
	FLOAT: right
}

.a-tips-Article-QQ:link {
	COLOR: #000; BORDER-BOTTOM: #0781c7 1px dotted
}
.a-tips-Article-QQ:hover {
	BACKGROUND: #ebf2fa; COLOR: #0b3b8c; TEXT-DECORATION: none
}
.a-tips-Article-QQ:visited {
	COLOR: #000; BORDER-BOTTOM: #0781c7 1px dotted
}
.side4-Article-QQ .block {
	DISPLAY: block
}
.side4-Article-QQ .none {
	DISPLAY: none
}
.side4-Article-QQ .tabTit SPAN {
	BACKGROUND: url(../images/xixi.png) no-repeat -176px -248px; FLOAT: right; WIDTH: 49px; CURSOR: pointer; HEIGHT: 29px; TEXT-ALIGN: center
}
.side4-Article-QQz .tabTit SPAN.select {
	BACKGROUND: url(../images/xixi.png) no-repeat -176px -282px
}
.mar-cl {
	MARGIN: 0px
}
.mar-b8 {
	MARGIN-BOTTOM: 8px
}
.noMarginB {
	MARGIN-BOTTOM: 0px
}
#bottomBarBox {
	MARGIN: -1px auto 0px; WIDTH: 960px; POSITION: relative
}
#mainBarBorder {
	FONT-SIZE: 0px; FLOAT: left; WIDTH: 650px; LINE-HEIGHT: 0; BORDER-BOTTOM: #dadada 1px solid; HEIGHT: 0px
}
#sideBarBorder {
	FONT-SIZE: 0px; FLOAT: right; WIDTH: 300px; LINE-HEIGHT: 0; BORDER-BOTTOM: #dadada 1px solid; HEIGHT: 0px
}
